<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="normal/base::Layout(~{::section })">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>

<div class="container  text-center">




<div class="card">

<div class="card-body">

		<img class="my_profile_picture"  src="" style="height:200px; width:200px;" th:src="@{'/image/images.png'}"   alt="profile photo" />
	</div>

<h1 class="text-center mt-3 font-italic">Start Adding Your Contact.....</h1>


<div class="com text-center">
<a th:href="@{/user/add-contact}" type="button" class="btn btn-success text-center mt-5">Add Contact</a>



<hr/>

<h3  class="my-3">Donate Us ,If You Can?</h3>
<input id="payment_field" type="text" class="form-control my-4" placeholder="Enter Amount Here" />



<div class="container text-center">

<button onclick="paymentStart()" class="btn btn-success">Check Out</button>

</div> 




</div>


</div>



</div>







</section>
</body>
</html>