<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="base::Layout(~{::section })">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
<div class="font-weight-bold">Smart Contact Manager</div>
<p>
Start Collecting your contacts in very smarter way.We provide efficient way of handling contacts.
</p>
<button class="btn btn-primary text-black">Get Started</button>
</div>
</section>
</body>
</html>